.jqczg {
    overflow: hidden;
}

.interact-con {
    margin: 30px auto 0;
    width: 1240px;
}

.module-body {
    background-color: transparent;
}

.interact-title {
    display: block;
    margin: 0 auto 20px;
    width: 600px;
    height: 40px;
}

.interact-item {
    float: left;
    display: block;
    width: 238px;
    margin-right: 10px;

    img {
        width: 100%;
        transition: opacity .3s ease-out;
    }
}
.ppsg{
    margin: auto;
    padding-top: 24px;
    width: 1230px;
    height: 370px;
    // padding-right: 30px;  
}
.brandWall-item{
    width: 234px;
    float: left;
    display: block;
    height: 370px;
    margin-right: 13px;
    background-color: #fff;
}
.head{
    height: 54px;
    background: #fff;
    font-size: 0;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #eee;
    position: relative;
}
.cn{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}
.en{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    line-height: 24px;
    height: 44px;
}
.more{
    text-indent: -99px;
    position: absolute;
    right: 14px;
    top: 0;
    width: 42px;
    height: 54px;
    line-height: 54px;
    z-index: 99;
    background-size: 18px 18px;
    background-image: url(https://img.alicdn.com/tfs/TB1B7RoaMMPMeJjy1XcXXXpppXa-36-36.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 14px;
    font-size: 16px;
    color: #666;
    overflow: hidden;
}
.body{
    display: block;
    img{
        height: 316px;
        width: 100%;
    }
}
.brandWall-item2{
    float: left;
    display: block;
    width: 485px;
    height: 370px;
    margin-right: 13px;
    background-color: #fff;
}
.brandWall-item3{
    float: left;
    display: block;
    width: 485px;
    height: 370px;
    margin-right: 0px;
    background-color: #fff;
}