.mui-lift{
    display: none;
    z-index: 999998!important;
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 35px;
    height: 369px;
    text-align: center;
    // background-color: aqua;
}
.nav-header{
    background-color: #ff0036!important;
}
.mui-lift-nav {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1px;
    background-color: #666;
    background-color: rgba(0,0,0,.6);
    overflow: hidden;
    font-size: 12px;
}
.mui-lift-nav-name{
    line-height: 12px;
    width: 24px;
    height: 28px;
    margin: 6px auto;
}
.nav-back{
    line-height: 13px;
    background-color: rgba(0,0,0,.3);
    i{
        font-size: 18px;
        margin-top: 5px;
        display: block;
    }
}