.ppcd{
    width: 1230px;
    height: 90px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    position: relative;
    img{
        display: block;
        width: 1620px;
        height: 90px;
        margin-left: -165px;
    }
}
.color-mark{
    display: inline-block;
    background-color: #333;
    width: 5px;
    height: 18px;
    vertical-align: middle;
}
.floor-title{
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.floor-sub-name{
    display: inline-block;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 24px;
    height: 18px;
}