*{
	margin: 0px;
	padding: 0px;	
}
body{
    color: #999;
    font-size: 12px;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
ul,li ,ol {
    list-style: none;
}
a{
    text-decoration: none;
    outline: none;
    color: #999;
}